.workout-list {
    position: relative;
}

.workout-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.workout-list nav {
    background-color: #E9F1FA;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.workout-list__sort {
    font-size: 0.9em;
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.822);
    background-color: #18333ee5;
}

@media screen and (max-width: 768px) {
    .workout-list ul {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
    }
}