.workout-item {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    &__name {
        font-size: 1.56em;
        font-weight: 600;
        line-height: 2.19em;
    }
    &__date {
        font-size: 1em;
        font-weight: 400;
        line-height: normal;
        margin: 1.25em 0;
        color: gray;
    }
    &__text {
        font-size: 1.12em;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        width: 100%;
        min-height: 100px;
        border: none;
        outline: none;
        transition: all 0.5s ease;
        &_open {
            min-height: 400px;
        }
    }
    &:active {
        transform: scale(0.995);
    }
    &__delete {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__delete:hover {
        border-radius: 50%;
        background-color: rgb(219, 219, 219);
    }
    &__save {
        max-width: 120px;
        padding: 5px 10px;
        border-radius: 30px;
        border: 1px solid #18333E;
        font-weight: 600;
        background-color: #18333E;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &__save:hover {
        background-color: white;
        color: black;
        border: 1px solid #18333E;
    }
    &__save:active {
        transform: scale(0.98);
    }
}